.container {
  padding: 1rem;
  background-color: var(--green-main);
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
  border-radius: 6px;
}
.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 250px;
  max-width: 80vw;
  transition: outline 0.3s ease;
}

.input:focus {
  outline: 2px solid var(--green-dark);
  outline-offset: 2px;
}

.btn {
  background-color: var(--green-dark);
}
